
@{
    ViewBag.Title = "添加新闻";
}
@model NewsPublish.Model.Response.ResponseModel

<div class="pd-20">
    <div class="Huiform">
        <form id="addNews">
            <table class="table table-bg">
                <tbody>
                    <tr>
                        <th width="300" class="text-r"><span class="c-red">*</span> 新闻标题：</th>
                        <td>
                            <input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="Title" datatype="*2-16" nullmsg="用户名不能为空">
                        </td>
                    </tr>
                    <tr>
                        <th class="text-r"><span class="c-red">*</span> 新闻类别：</th>
                        <td>
                            <select class="select" id="NewsClassifyId" name="NewsClassifyId">
                                @foreach (var item in Model.Data)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-r">新闻图片：</th>
                        <td><input type="file" class="" name="image" multiple datatype="*2-120" nullmsg="新闻图片不能为空"></td>
                    </tr>
                    <tr>
                        <th class="text-r">新闻内容：</th>
                        <td><textarea class="input-text" name="contents" id="Contents" style="height:200px;width:350px;"></textarea></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><button class="btn btn-success radius" type="button" onclick="AddNews()"><i class="icon-ok"></i> 确定</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function AddNews() {
            var formData = new FormData(document.getElementById("addNews"));
            $.ajax({
                type: "post",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                url: '/admin/News/NewsAdd',
                data: formData,
                success: function (data) {
                    if (data.code == 200) {
                        parent.reload();
                    } else {
                        alert(data.result);
                    }
                }
            });
        }
    </script>
}